# Project specific files
## python builder for pypi
pythonbuilder.venv
## forklift
create.app.sh
TODO.md

# Archive files
*.tar.gz

# Build results
[Dd]ebug/
[Rr]elease/
[Ll]og/
__pycache__/
*.[Cc]ache

# User data
images.yaml
containers.yaml

# VS Code files oddities for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# tmp
tmp.*
