echo -e "\nPerl VirtualEnv Setup Completed, you're now able to use cpan libs from it\n"

# This probably is something like 'perl5' in your $HOME directory
#     if you've installed CPAN with default values. Perl virtual
#     env is a pain (to me) when compared with python
if [ -d $HOME/perl5 ]; then
    PERLPATH=$HOME/perl5
    # Exec all these commands in a shell to use the cpan venv
    export PERL_MM_OPT="INSTALL_BASE=$PERLPATH"
    export PERL5LIB="$PERLPATH/lib/perl5:$PERL5LIB"
    export PATH="$PERLPATH/bin:$PATH"
    eval $(perl -I$PERLPATH/lib/perl5 -Mlocal::lib)
else
    echo "Perl environment already set"
fi

# PS1 rewrite (python virtualenv style)
# old PS1 = '\[\033[01;32m\]\u@\h\[\033[01;34m\] \w \$\[\033[00m\] '
export PS1="(perl parser) $PS1"
