# Project specific files

# External sources, needs to be merged here
contrib

# Kubernetes Operator Builder
kubebuilder
# Kubevirt VM Manager
virtctl*
# Binaries and work temporary files
src/.dockerignore
src/.gitignore
src/.golangci.yml
src/Dockerfile

# Local configuration files, can be ignored
config/setup.yaml

# work in progress scripts
scripts

# tmp
tmp.*
