# Project specific files

# External sources, needs to be merged here
contrib

# Binaries and work temporary files
kubebuilder
src/.dockerignore
src/.gitignore
src/.golangci.yml
src/Dockerfile


# work in progress scripts
scripts

# tmp
tmp.*
