# Copy of the original config.yml file, not used but 
# kept here for backup purposes
apiVersion: app.my.domain/v1alpha1
kind: ClusterConfig
metadata:
  labels:
    app.kubernetes.io/name: src
    # app.kubernetes.io/managed-by: kustomize

  # Kubernetes cluster name
  name: localCluster

  # uninstall method
  #     all       - Remove everything: system configs, binary package
  #     config    - Uninstall system containers and kubernetes configs
  #     binaries  - Uninstall binary installation packages [ONLY], through package manager
  #     none      - Do nothing, do not uninstall (default)
  uninstall: all

spec:
#  network:
#    plugin: calico
#  storage:
#    provider: ceph

  # Kubernetes configuration addons
  addons:
    - containerhub          # local ContainerHub service (locally hosted, name: clusterops.service)
    - kubevirt              # Add Kubevirt virtualization capabilities

    # TODO:
    # - ingress-nginx         # Enable gateway api ingress controllers
    # - metrics-server        # Install the builtin metrics server
    # - cuda                  # Enable Nvidia GPU CUDA support for containers
    # - vulkan                # Enable AMD GPU support through Vulkan libraries
    # - cloudmanager          # Add k8s Cloud Controller Manager for offloading services and workload
